out/
/synth/
*.test
python/digits/data/
python/digits/model.pt
python/digits/.venv/
*.exe
python/encoder/data/
python/encoder/model*.pt
python/encoder/.venv/
__pycache__/
python/encoder/data*/
/decode
/decode2
